{#include mail-base.html}

{#title}Welcome to Release Raccoon{/title}

{#contents}
<p>
Here's how it works, our raccoons are constantly tapped into the hottest music sources of the universe to find fresh new music that might interest you based on the music taste you have shared with us. The moment such a new release is out, you are the first to hear about it via an email update like this.</p>
<p>

  <a href="https://release-raccoon.herokuapp.com/me">
    Adjust your taste
  </a>

</p>

{/contents}

{/include}
