<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="utf-8">-->

<!--    &lt;!&ndash; CSS ... &ndash;&gt;-->
<!--    &lt;!&ndash; <link rel="stylesheet" href="...">&ndash;&gt;-->

<!--    <title>{#insert title}Default Title{/}</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <h1>{#insert title}Default Title{/}</h1>-->

<!--    {#insert contents}No contents!{/}-->
<!--</div>-->
<!--</body>-->
<!--</html>-->


<!-- params: -->
<!--{@java.lang.String title}-->
<!--{@java.lang.String h1title}-->
<!-- borrowed from https://github.com/tutsplus/build-an-html-email-template-from-scratch/blob/master/index.html -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="x-apple-disable-message-reformatting">
  <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css">
  <title>{#insert title}Default Title{/}</title>
  <!--[if mso]>
  <noscript>
    <xml>
      <o:OfficeDocumentSettings>
        <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
  </noscript>
  <![endif]-->
  <style>

      table, td, div, h1, p {
          font-family: Arial, sans-serif;
      }


  </style>
</head>
<body style="margin:0;padding:0;">
<table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;background:#ffffff;">
  <tr>
    <td align="center" style="padding:0;">
      <table role="presentation" style="width:602px;border-collapse:collapse;border:1px solid #cccccc;border-spacing:0;text-align:left;">
        <tr>
          <td align="center" style="padding:40px 0 30px 0;background:#70bbd9;">
            <img src="images/h1.png" alt="" width="300" style="height:auto;display:block;" />
          </td>
        </tr>
        <tr>
          <td style="padding:36px 30px 42px 30px;">
            <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
              <tr>
                <td style="padding:0 0 36px 0;color:#153643;">
                  <h1 style="font-size:24px;margin:0 0 20px 0;">

                    {#insert h1title}Default Title{/}
                    Welcome to Release Raccoon!

                  </h1>

                  {#insert contents}No contents!{/}

                </td>
              </tr>

              <!-- Add more <tr>s for more entries: -->

            </table>
          </td>
        </tr>


        <tr>
          <td style="padding:30px;background:#ee4c50;">
            <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
              <tr>
                <td style="padding:0;width:50%;" align="left">
                  <p style="margin:0;font-size:14px;line-height:16px;color:#ffffff;">
                    &reg; Release Raccoon, 2021<br/><a href="http://www.example.com" style="color:#ffffff;text-decoration:underline;">Unsubscribe</a>
                  </p>
                </td>
                <td style="padding:0;width:50%;" align="right">
                  <table role="presentation" style="border-collapse:collapse;border:0;border-spacing:0;">
                    <tr>
<!--                      <td style="padding:0 0 0 10px;width:38px;">-->
<!--                        <a href="http://www.twitter.com/" style="color:#ffffff;"><img src="images/tw.png" alt="Twitter" width="38" style="height:auto;display:block;border:0;" /></a>-->
<!--                      </td>-->
<!--                      <td style="padding:0 0 0 10px;width:38px;">-->
<!--                        <a href="http://www.facebook.com/" style="color:#ffffff;"><img src="images/fb.png" alt="Facebook" width="38" style="height:auto;display:block;border:0;" /></a>-->
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>