<!--{@java.lang.String artistCount}-->
<!--{@java.lang.String releaseCount}-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ReleaseRaccoon | Home</title>
    <link rel="icon" type="image/ico" href="images/favicon.ico"/>
    <link rel="stylesheet" href="css/index.css">

    <meta name="description" content="Release Raccoon - Receive music from your favorite artists in your email first!">
    <meta name="keywords" content="music, artists, new releases, weekly updates">
    <meta property="og:title" content="Release Raccoon | Home">
    <meta property="og:description" content="Receive music from your favorite artists in your email first!">
    <meta property="og:image" content="images/og-image.png">
    <meta property="og:url" content="https://www.releaseraccoon.com/">
    <meta name="twitter:card" content="summary_large_image">
</head>

<body>
    <h1>Welcome to Release Raccoon!</h1>
    <div>
        <div class="banner lead">
            Receive music from your favorite artists in your email first!
            <br>
            <br>
            <a href="/me" class="path-link" target="_blank">Register</a>
        </div>

        <table class="horizaligned">
            <tr>
                <th>Artists</br>{artistCount}</th>
                <th>Releases</br>{releaseCount}</th>
            </tr>
        </table>
    </div>
</body>

<footer>
    <div id="wcb" class="carbonbadge"></div>
    <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
</footer>

</html>