<!--{@java.lang.String artistCount}-->
<!--{@java.lang.String releaseCount}-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ReleaseRaccoon | Home</title>
    <link rel="icon" type="image/ico" href="images/favicon.ico"/>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <h1>Welcome to Release Raccoon!</h1>
    <div>
        <div class="banner lead">
            Receive music from your favorite artists in your email every week!
            <br>
            <br>
            <a href="/me" class="path-link" target="_blank">Register</a>
        </div>

        <table class="horizaligned">
            <tr>
                <th>Artists</br>{artistCount}</th>
                <th>Releases</br>{releaseCount}</th>
            </tr>
        </table>
    </div>
</body>

<footer>
    <div id="wcb" class="carbonbadge"></div>
    <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
</footer>

</html>