<!--{@com.raccoon.templatedata.pojo.DigestMailContents contents}-->

{#include mail-base.html}

    {#title}{contents.getMailTitle()}{/title}

    {#contents}

        <div class="container">
        {! heading !}
        <h1>
            {#if contents.getReleases().size == 1}
                We found a new Release for you
                {#else}
                    We found {contents.getReleases().size} new Releases for you
            {/if}
        </h1>

        {! Table !}
        <table class="table table-striped shadowed">
        {! Table heading !}
        <thead>
        <tr>
            <th scope="col" class="accented-th">Artist</th>
            <th scope="col" class="accented-th fit">Release Name</th>
            <th scope="col" class="accented-th fit">Spotify</th>
            <th scope="col" class="accented-th fit">Released on</th>
        </tr>
        </thead>

        {#for release in contents.getReleases()}
            {! Table row per release !}
            <tr>
            <td>
                {#each release.artists}
                    {it.name}
                {/each}
            </td>

            <td>
                {release.name}
            </td>
            <td>
                {#if release.getSpotifyUriId() != ""}
                    <a href="https://open.spotify.com/album/{release.getSpotifyUriId()}" class="path-link" target="_blank">
                        <img height="30px" src="images/spotify.icon.svg"/>
                    </a>
                {/if}
            </td>

            <td>
            {release.releasedOn}
            </td>
            </tr>

        {/for}
        </table>
        </div>

    {/contents}

{/include}
