<!--{@com.raccoon.templatedata.pojo.DigestMailContents contents}-->

{#include mail-base.html}

    {#title}{contents.getMailTitle()}{/title}

    {#contents}

        <div class="container">
        {! heading !}
        <h1>
            {#if contents.getReleases().size == 1}
                We found a new Release for you
            {#else}
                We found {contents.getReleases().size} new Releases for you
            {/if}
        </h1>

        {! Table !}
        <table class="table table-striped shadowed">
        {! Table heading !}
        <thead>
        <tr>
            <th scope="col" class="accented-th">Artist</th>
            <th scope="col" class="accented-th fit">Release Name</th>
            <th scope="col" class="accented-th fit">Type</th>
            <th scope="col" class="accented-th fit">Released on</th>
        </tr>
        </thead>

        {#for artistGroup in contents.getArtistReleasesGroups()}
            {#for release in artistGroup.releases}
            {! Table row per release !}
            <tr>
            <td>
                {#if release_index == 0}
                    <strong>{artistGroup.artist.name}</strong>
                    {#if artistGroup.releases.size() > 1}
                        <br><small class="text-muted">({artistGroup.releases.size()} releases)</small>
                    {/if}
                {/if}
            </td>

            <td>
                {release.name}
            </td>
            
            <td>
                <span class="badge badge-secondary">
                    {#if release.type}
                        {release.type}
                    {#else}
                        Release
                    {/if}
                </span>
            </td>

            <td>
            {release.releasedOn}
            </td>
            </tr>
            {/for}

        {/for}
        </table>
        </div>

    {/contents}

{/include}
